[2017-12-26 09:13] dahuahe opened #1 "readFile method error"
![image](https://user-images.githubusercontent.com/16739083/34352868-fc942fca-ea5f-11e7-9e97-19a748f4ebb1.png)
![image](https://user-images.githubusercontent.com/16739083/34352877-04c30202-ea60-11e7-8988-aae9ce02e872.png)

[2017-12-26 21:05] sanketbajoria commented on #1
Seems, like, i have implemented the wrapper for readFile and writeFile, in wrong manner. I have corrected it. Please take a new version 0.0.8

[2017-12-27 02:05] dahuahe opened #2 "find Repeat call readFile error"
when i  Repeat call readFile i find process be hanging [not continue ] only finish first readFile
then i read src find err and fix  but i think my fix is out of place..
fix picture
![image](https://user-images.githubusercontent.com/16739083/34368259-610de634-eaed-11e7-9772-08701f0e59af.png)
$read has been change
so
![image](https://user-images.githubusercontent.com/16739083/34368267-73ecfa10-eaed-

[2017-12-27 20:42] sanketbajoria commented on #2
Seems like, no continue event is present for readFile and writeFile api. Please, take latest code from github, it should work fine now. I haven't published it to npm yet.

[2017-12-27 20:44] sanketbajoria commented on #1
Fixed. Closing this issue

[2017-12-27 20:44] #1 closed

[2018-01-01 19:35] sanketbajoria commented on #2
Closing this issue, as resolved

[2018-01-01 19:36] #2 closed

[2018-06-22 14:28] fgheorghe opened #3 "How to stop a command?"
How do i stop a command, i.e.: tail:
//use spawn, if you want to stream on output of command
(async function(){
    var socket = await ssh.spawn("tail -f /var/log.txt");
    socket.on('data', () => {
      //file content will be available here
    })
})();

Basically, I would like to kill the tail command when terminating a connection.

Thank you

[2018-06-25 03:11] nallown commented on #3
send a CTRL+C instruction to the socket. I'm not sure how to do that but you can just send a CTRL+C instruction to end it.

Also you can just close the socket connection. Maybe there's a `socket.close()` command.

[2018-06-25 05:45] fgheorghe commented on #3
Thank you for your reply - sometimes when i close the socket, the command won't stop. Will try sending a CTRL+C instruction instead.

[2018-06-25 06:10] nallown commented on #3
People are saying that `\x003` or `\x03` is a CTRL+C instruction btw.

[2018-06-25 06:39] sanketbajoria commented on #3
Please pass {pty: true}  as second parameter when spawning a tail command. Before closing,  pass SIGKILL command via socket.

[2018-06-25 08:14] fgheorghe commented on #3
Thank you all.

The following appears to have worked:
Setting the pty to true, as per @sanketbajoria suggestion.
Sending a \x03 before closing the connection.

Great community! Will close this "issue" now.

[2018-06-25 08:14] #3 closed

[2018-06-25 08:37] nallown opened #4 "Best way to upload a folder?"
What's the best way to upload a folder to a server? I tried using `fastPut` but that only works with single files. I need to upload a folder including its sub-directories and files.

[2018-06-26 07:52] sanketbajoria commented on #4
There is no direct way to upload a folder.

I can think of two solution
1) Recursively walk through localfolder, and execute seperate command for creating file and folder
2) Zip the folder locally, send it via fastput, then execute the remote command for unzipping. Everything can be done via this tool

[2018-06-26 11:37] sanketbajoria opened #5 "Upload Folder"

[2018-06-28 16:46] Evanlec opened #6 "Typing of sftp methods missing"
Your sftp.d.ts file specifies the SFTP class type as:
[code]

However, this only tells the typescript compiler about EventEmitter methods, it does not indicate all of the SSH2 methods like 'readdir()', 'mkdir()', etc

I am wondering if you can simply import the SFTPWrapper interface from the SSH2 library type definition, here:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/11b48a05a8c7f2f

[2018-07-01 05:04] sanketbajoria commented on #6
@Evanlec
Thanks for pointing out. Let me see, how could we include type information for sftp class

[2018-08-31 02:20] Slavrix opened #7 "error when a tunnel connection fails"
When a tunnel errors, an error is thrown that the name cant be found.

line 352 of sshConnections looks like its the culprit.

name should be changed to tunnelConfig.name

[2018-08-31 07:04] sanketbajoria commented on #7
Thanks for pointing it out. Will be releasing fix soon.

[2018-09-04 12:43] sanketbajoria commented on #6
Added support for sftp Type information.  https://github.com/sanketbajoria/ssh2-promise/commit/f6c9f7f708ec329d2a313e8d90ca65b3beeb4cad

[2018-09-04 12:44] sanketbajoria commented on #7
Fixed. https://github.com/sanketbajoria/ssh2-promise/commit/f6c9f7f708ec329d2a313e8d90ca65b3beeb4cad

[2018-09-04 12:44] #7 closed

[2018-09-04 12:45] #6 closed

[2018-10-07 18:19] rahbari opened #9 "fastPut error"
I get this when usign fastPut:

[code]

[2018-10-08 05:42] sanketbajoria commented on #9
let me debug the issue. Can you please share the code snippet in meanwhile, so that i can see how you are using this function

[2018-10-08 23:02] rahbari commented on #9
I used
`var sftp = await ssh.sftp();`
instead of
`var sftp = new SSH2Promise.SFTP(ssh);`
await ssh.sftp() in docs leads to confusion.

thank for awesome work btw.

[2018-10-09 07:40] sanketbajoria commented on #9
Below is sample code, how should we use it.
[code]
things are working as expected, please let me know, if you are still facing error

[2018-10-09 10:19] rahbari commented on #9
I got it working, thank you so much.

[2018-10-09 11:28] #9 closed

[2018-10-11 16:37] RichAyotte opened #10 "Unknown message digest on node v10.12.0"
The following works fine on node v8.12.0 but fails with an `Unknown message digest` on v10.12.0

[code]
DEBUG
[code]

[2018-10-11 17:06] RichAyotte commented on #10
This looks more like a https://github.com/mscdex/ssh2-streams issue. I'll post the error there.

[2018-10-12 15:30] RichAyotte commented on #10
The ssh2 and ssh2-streams dependencies are outdated in this package and are causing this issue.

The problem is fixed in the latest version of ssh2-streams 0.2.1 and ssh2 at 0.6.1.

[2018-10-12 15:54] sanketbajoria commented on #10
Thanks a lot @RichAyotte for pointing it out. Let me fork a branch to test it out. if you could test it at your end, then i could publish it to npm.

[2018-10-15 14:59] RichAyotte commented on #10
@sanketbajoria thanks for creating the issue#10 branch. The octothorp "#" in the branch name is giving me/yarn a hard time though. Something like the following usually works but I'm not sure how to escape the the "#" in the branch name.

```yarn add https://github.com/sanketbajoria/ssh2-promise.git#issue#10```
I also tried a bunch of combinations like
```yarn add https://github.com/sanketbajoria/s

[2018-10-15 19:50] sanketbajoria commented on #10
@RichAyotte , my bad. seems like yarn don't support it
https://github.com/yarnpkg/yarn/pull/4881

I will rename the branch and push it again

[2018-10-15 19:56] sanketbajoria commented on #10
I have renamed the branch from issue#10 to issue10

[2018-10-16 17:11] sanketbajoria commented on #10
@RichAyotte Thanks a lot for confirming it. Merged it and pushed to npm repository

[2018-10-16 17:11] #10 closed

[2018-10-22 01:59] 3DEsprit opened #12 "TypeScript: SSHConnections Missing Properties"
Version: 0.1.1

I was checking this library out for a TS project, and noticed the ssh.shell method prop could not be found:

<img width="547" alt="screen shot 2018-10-21 at 20 41 25" src="https://user-images.githubusercontent.com/3156278/47275116-27788d00-d572-11e8-83fb-0c508f30eac5.png">

By the way, this happens with both ssh.exec, and ssh.shell (naturally).

While I'm very use to JS, I'm not to

[2018-10-22 16:50] martindandanell commented on #12
If you init `SSH2Promise.SSH` instead of `SSH2Promise` directly, it will give you an instance of the `SSHConnection` object in which the `exec` and `shell` functions exists - at least this worked for me.

[2018-10-22 19:38] sanketbajoria commented on #12
@3DEsprit , ah, i can see typescript property is missing. I am fixing this up. Will be fixed by next release

@martindandanell  Actually, if we use in above manner, then it won't be providing the feature of connection hopping, which this library intend to do.

[2018-10-22 22:46] 3DEsprit commented on #12
Thanks @sanketbajoria !

[2018-10-23 02:00] 3DEsprit opened #13 "Connect: Uncaught Exception on Connection Error"
**Issue**: Failed connections persist after error, causing the connection to stay open for a long period of time.

**Error**
[code]

Adding a catch to the wrapper promise causes this error to duplicate (just catching the same error). It seems to stop after 12 occurrences in VSCode, and 30 times in a spec test.

Following the process to see where it's hitting, it looks like this is happening direct

[2018-10-23 16:06] 3DEsprit commented on #13
Ah-ha, great to know. Thanks!

[2018-10-25 10:16] sanketbajoria commented on #13
@3DEsprit ,
Ah, I forgot, i have already defined that in documentation. (Readme)

[2018-10-25 13:33] 3DEsprit commented on #13
Thanks!

[2018-10-27 00:40] 3DEsprit commented on #12
It looks like there are a few other missing type definitions here, like shell, spawn, getSocksPort, addTunnel, getTunnel, x11, and subsys. Adding each method's signature definition to the index.d.ts has at least allowed me to use each without much issue.

Also, it seems the current signature for the shell method in sshConnections is set with mandatory options, instead of the optional options param

[2018-10-27 03:04] 3DEsprit commented on #13
I completely forgot, is there a way to catch the exceptions thrown? I'm getting this on shell, and spawn even with successful connections, and adding to the connection promise isn't doing it.

[2018-10-27 03:20] 3DEsprit opened #15 "Shell/Spawn: Stream Encapsulation?"
**Version**: 0.1.1

**Issue**: It seems shell and spawn still use non-wrapped event handlers, so using promises, async/await isn't feasible for waiting for the shell output result.

**Details**: It seems no matter what I've tried, generators, promises, or async/await, every time the surrounding function is considered resolved after the listener being initiated, not after the stream data being pass

[2018-10-27 17:05] sanketbajoria commented on #12
@3DEsprit
Fixed this issue, now, it should provide typescript support for all missing type definition.

[2018-10-27 17:18] sanketbajoria commented on #15
@3DEsprit
Promises, async/await are only feasible for future response/result. That's why.. below command provide different result once completed.
- exec return Promise< String >
- shell return Promise< shellSocket > -- it can be used to bind to xterm terminal for shell functionality
- spawn return Promise< socket > -- this is mainly for never ending stream of response.
- sftp return Promise< sftpS

[2018-10-27 20:46] 3DEsprit commented on #12
I'm guessing you already know, but doesn't look like the change was applied. I'm not seeing the update in the repo, or the npm package yet.

[2018-10-27 20:49] 3DEsprit commented on #13
It's only the failed connections. I'm just looking to catch the specific connection error to return, instead of the unhandled exception that is thrown. It is not a huge deal, but I thought I would ask.

[2018-10-27 21:13] 3DEsprit commented on #15
It really isn't a horrible problem, it just changed the abstraction needed to handle the responses, and that was the misunderstanding. I initially thought the idea was to offer responses from each part of the wrapper.

I can certainly see the benefits of not wrapping the socket/stream, it was only in my use-case that these weren't a huge deal, since I'm only watch the data/close/error events.

Sur

[2018-10-27 21:14] 3DEsprit commented on #15
I'll go ahead and close this, since the encapsulation is to benefit the more powerful use-cases, which make complete sense. 👍

[2018-10-27 21:14] #15 closed

[2018-10-28 04:51] sanketbajoria commented on #12
@3DEsprit
Yes, i have created a patch on a separate branch. Haven't pushed it yet on master branch or npm repository.
Can you please test it at your end, by just specifying github ssh2-promise branch entry in package.json file. Once, you confirm it, i will push the changes

[2018-10-29 14:31] 3DEsprit commented on #12
Looks good! It looks like Shell is requiring the options, instead of being optional.

[2018-10-29 18:33] sanketbajoria commented on #12
Ah, good catch.. fixed it.

[2018-10-30 20:11] 3DEsprit commented on #12
Looking good on this end. Thanks! 👍

[2018-10-30 20:49] sanketbajoria commented on #12
Published to master repository and npm repository
Thanks

[2018-10-30 21:06] 3DEsprit commented on #12
Any time! Closing.

[2018-10-30 21:06] #12 closed

[2018-10-31 14:23] benjaminpech opened #17 "Get the return code of an execution of a script"
Hi,

I'm trying to get the return code of a _exec_ from a bash script on my server.
It would be nice to have in output, both stderr and stdout to detect technical issues and the return code (eg. 0 or 1).

It's possible to do that ?

[2018-10-31 17:40] sanketbajoria commented on #17
Currently, it return either stdout (resolve) or stderr (reject) in promisify manner . Below is current implementation

![image](https://user-images.githubusercontent.com/2969587/47807196-80f66e00-dd61-11e8-884a-b93cbff018ad.png)

Getting a return code would be difficult, but you can get the error message to detect the technical issue

[2018-11-10 16:54] samhon18 commented on #13
It seems the promise object only handles the first connection error. Once we enable the reconnect function, the exception thrown by "reconnect" will not call any promise reject callback. And Promise warn it

The first error throw by connect function was caught and pass to promise reject callback.

The error thrown by the reconnect function are not passed to promise reject callback and we get a unh

[2018-11-19 13:37] lqueryvg commented on #13
I'm suffering from this too.

I'm doing `data = await sftp.readdir()` after which I've got some more code I want to execute (if the read works). If the connect fails (e.g. `ECONNREFUSED`), it throws the error, which I catch and handle, but it retries in the background !? It doesn't make any sense. What's the point of throwing an error *and* retrying in the background ? If any of the subsequent ret

[2018-11-20 17:01] sanketbajoria commented on #13
@3DEsprit @lqueryvg
Didn't get much time to see this issue.
Will be fixed by next release.

[2018-12-07 17:20] onsightit opened #18 "Documentation should include examples with error handling."
The Documentation shows basic examples, but they should include examples with error handling.  Not sure if I should use sftp.on('error', ...

Also, do you still need to call ssh.end()?  I do not see it in the examples. Thanks!

[2018-12-13 22:30] lianghwajou opened #19 "Nested tunnel connection will need "sock" instead of "host" configuration."
Will need to use {sock: stream} instead of {host: host} in ssh configuration in order to build a nested tunnel.

ssh2-promise@0.1.2
sshConnections.js

   connect(c) {^M
        this.config = Object.assign(this.config, c);^M
        ++this.__retries;^M
        if (this.__$connectPromise != null)^M
            return this.__$connectPromise;^M
        this.__$connectPromise = new Promise((resolve, re

[2018-12-14 14:03] sanketbajoria commented on #19
@lianghwajou
Please, feel free to open PR for this.

[2018-12-14 14:18] sanketbajoria commented on #18
@onsightit

I will update the documentation for this.
Since, every method of ssh object return a Promise object. So, you can directly do the error handling in below manner.

`var sftp = ssh.sftp()
sftp.readdir("/").then((data) => {
  console.log(data); //file listing
}).catch((err) => {
  console.log(err)
})`

No we don't need to call ssh.end(). As per the current documentation , use instead ssh.c

[2018-12-14 14:22] sanketbajoria commented on #17
as no update, hence closing this bug.
Please feel free to reopen this bug, if feel otherwise

[2018-12-14 14:22] #17 closed

[2018-12-14 16:00] sanketbajoria commented on #13
@3DEsprit , @lqueryvg
Fixed it,

[2018-12-14 18:16] 3DEsprit commented on #13
I'll try to find some time this weekend to review, if @lqueryvg doesn't find the time first.

[2018-12-15 16:31] lqueryvg commented on #13
@sanketbajoria - yes this looks good to me.

The new behaviour I see is that it it doesn't throw the error until all retries have been exhausted, which is correct IMO.

Good work !

[2018-12-15 16:49] sanketbajoria commented on #13
@lqueryvg
Thank you, for verifying at your end.

Published a new version 0.1.3 to npm.

[2018-12-18 20:38] sanketbajoria commented on #18
@onsightit
Updated the documentation

[2018-12-22 00:19] NetOperatorWibby opened #20 "Switch socksv5 dependency"
`socksv5` has a minor vulnerability via the `ipv6` module that has since been renamed to `ip-address`. Heroku has published a fork of `socksv5` that replaces the outdated `ipv6` with `ip-address`.

You can find [their fork here](https://github.com/heroku/socksv5).

[2019-01-03 23:18] lianghwajou commented on #19
Submitted a pr https://github.com/sanketbajoria/ssh2-promise/pull/21

[2019-02-22 10:45] jeffrson opened #22 "Typescript integration"
Hi,
would love to see typescript support like
`import { SFTP } from 'ssh2-promise'`

Currently there seems to be no way to access the type of SFTP (in class or interface) at all.

[2019-02-22 14:22] jeffrson opened #23 "ssh "connect" event is not fired when connected after close()"
Here is a short test:
`let sshconfig = {
  host: '192.168.1.1',
  port: 22,
  username: 'test',
  password: 'test',
  reconnect: false
}

let ssh = new SSH2Promise(sshconfig)
ssh.on('ssh', (...args) => console.log(args[0]))

let sftp = ssh.sftp()

sftp.readdir('/home/test')
  .then((data) => console.dir('data'))
  .then(() => ssh.close())
  .then(() => ssh.connect())
  .then(() => sftp.readdir('/h

[2019-02-25 12:49] jeffrson opened #24 "Typescript error with createReadStream"
This typescript source
[code]

gives the following error (TS 3.3):

for sftp.createReadStream.

[2019-02-26 18:38] jeffrson commented on #23
BTW, I believe this is somehow related to 'ssh.close()' not really closing when called after connected the second time.

That's why I hesitate to report this fact as a new bug. What do you think?

[2019-02-27 13:54] jeffrson commented on #23
There is a problem when closing the connection - the array `deregister` is not cleared (or otherwise modified) upon close.

Then, in `getSSHConnection`, the newly created `sshConnection` is not registered at all, because isRegistered thinks, the connection had already been registered, because the "unique id" has not changed.

Would it be possible to fix it on short-term?

[2019-02-27 19:49] sanketbajoria commented on #24
Will be fixing it soon. Typescript index file wrongly generated.

[2019-02-27 20:21] sanketbajoria commented on #22
Currently it is exposed as below
var SFTP = require('ssh2-promise').SFTP

[2019-02-27 20:24] sanketbajoria commented on #23
@jeffrson
Thanks for reporting this. I will look into this. If you do find a solution. Please feel free to raise a PR

[2019-02-27 20:24] #13 closed

[2019-02-27 20:25] #18 closed

[2019-02-28 08:10] sanketbajoria commented on #22
import SFTP = require('ssh2-promise').SFTP

[2019-02-28 08:11] sanketbajoria commented on #19
@lianghwajou
Sorry didn't much time to review it. I will merge it, in next few days.

[2019-03-11 14:15] Niyarlatotep opened #25 "Convert exports to es6 format"
When I try to import modules as es6 modules like this: `import * as SSH2Promise from 'SSH2Promise';` I got error 'This module can only be referenced with ECMAScript imports/exports by turning on the esModuleInterop' flag and referencing its default export'. Although the described in README method `import SSH2Promise = require('ssh2-promise');` works well it would be nice to make exports in es6 sty

[2019-03-22 13:07] takase1121 opened #26 "Cannot parse privateKey: Unsupported key format"
I tried to log in to my ssh server but it failed with this error. The key works, I tested it with `openssh` and it connects properly and its also in openssh format.

[2019-03-26 16:06] jeffrson opened #27 "createReadStream does not finish when connection is killed"
Hi,
let's say I have this program to read an sftp stream via pure ssh2-streams:
[code]
When the server kills the connection (or the server is killed), I get "error!". This is expected.

OTOH, a similar program with SSH2Promise hangs forever when the connection will be killed:
[code]
I tried different on('error') handlers but it doesn't help. Well, btw, when I add "reconnect: false" option, the pro

[2019-03-26 17:42] jeffrson commented on #27
Well, as it looks, the stream's 'error' event is hidden inside SSH2, which is swallowed inside your sshConnection:264-268. So I have no way to resolve or reject my promises :-(

Can there be a fix?

[2019-03-26 19:01] sanketbajoria commented on #27
@jeffrson
Actually, once promise get resolved, we won't be able to resolve/reject it again. That's why we are emitting the error.
this.emit(SSHConstants.CHANNEL.SSH, SSHConstants.STATUS.DISCONNECT, {err: err});
Please, listen for SSH event and check for disconnect status

[2019-03-26 19:02] sanketbajoria commented on #26
@takase1121
It does support openssh PEM format key.  Can you please provide the configuration, which you are using

[2019-03-26 19:03] sanketbajoria commented on #25
@Niyarlatotep
Yes, good idea,
Please feel free to open a PR for this.

[2019-03-26 19:09] sanketbajoria commented on #24
@jeffrson
Fixed it
https://github.com/sanketbajoria/ssh2-promise/commit/dad5e3f0028f6fe16e4bbf1b4aefaa005e7bf01c

[2019-03-27 08:49] jeffrson commented on #22
Then it's just "any".

[2019-03-27 08:58] takase1121 commented on #26
[code]

[2019-04-18 02:59] wtford commented on #26
I had the same problem with a stock key created with `ssh-keygen`.  This package currently depends on an older version of ssh2.  The latest version of ssh2 (0.8.2) seems to handle private keys better.  I updated the packages.json file and then used npm to download the updated ssh2.  Now the key works fine.  The package maintain should update both ssh2 and socksv5 packages to the latest.

[2019-04-23 13:03] sanketbajoria commented on #20
@NetOperatorWibby
Switched to heroku version
https://github.com/sanketbajoria/ssh2-promise/commit/240b3138e5d5663d7c66a4385e1c8bb01087483b

[2019-04-23 13:03] #20 closed

[2019-04-23 13:04] sanketbajoria commented on #26
@wtford , @takase1121
Updated to latest ssh2 package
https://github.com/sanketbajoria/ssh2-promise/commit/240b3138e5d5663d7c66a4385e1c8bb01087483b

[2019-04-23 13:05] sanketbajoria commented on #26
@takase1121, @wtford
Please, verify, if you still face the issue of parsing privatekey

[2019-04-25 15:51] takase1121 commented on #26
At least now it spits another error saying that ed25519 is not supported. I assume that this bug is fixed.

[2019-04-26 06:30] sanketbajoria commented on #26
@takase1121
Seems like new version 0.8.3 ssh2 has been released. Will be bumping ssh2-promise again

[2019-04-28 21:39] wtford commented on #26
I updated ssh2-promise to latest and my project parses privatekey without issue.  Thanks for keeping this project updated.

[2019-05-09 06:40] sanketbajoria commented on #27
@jeffrson
Should i close this issue? Has it got resolved for you

[2019-05-13 06:07] sanketbajoria commented on #27
I am closing this issue for now. Please feel free to reopen this issue, if things didn't work out for you

[2019-05-13 06:07] #27 closed

[2019-05-13 06:07] #24 closed

[2019-05-13 09:54] sanketbajoria commented on #19
@lianghwajou
Published new version, with your merge request. 👍

[2019-05-13 09:54] #19 closed

[2019-05-13 09:55] sanketbajoria commented on #26
@takase1121
new version of ssh2-promise has been released. Now it should support ed25519

[2019-05-20 19:37] sanketbajoria commented on #26
Closing this issue, as comment further. Please feel free to open it again. If you face any problem

[2019-05-20 19:37] #26 closed

[2019-06-02 09:36] cinderblock commented on #25
Why change the API and break existing code?

@Niyarlatotep You should be able to just use `esModuleInterop` TypeScript option, which is suggested, by TypeScript, to be turned on.

[2019-06-03 11:29] Niyarlatotep commented on #25
@cinderblock Yes, thank you!

[2019-06-03 11:29] #25 closed

[2019-06-04 08:30] scarrobin commented on #23
Is a fix for this coming? I've observed lots of weird behaviour around reconnects that seems to be related to the issues described here.

[2019-06-11 05:14] jlyonsmith opened #29 "`specs/fixture.json` file is missing"
It is impossible to run the tests because there is no `fixture.json` file.  It seems that it should contain a bunch of types of configuration.  Presumably it was left out because there was passwords in there.  If you could commit an example it would make it easier to reproduce.  Plus then folks could actually test before submitting PR's!

[2019-06-11 05:28] sanketbajoria commented on #29
@jlyonsmith
Yes, you are right, i wasn't able to commit, because, it contains, actual server details. Let me commit few open server detail, which i can.

[2019-06-11 21:25] jlyonsmith commented on #29
Thanks @sanketbajoria   I have a small PR that I would like to submit but I would like to ensure that I haven't broken anything!

[2019-07-01 09:58] jeffrson commented on #27
Sorry for the lack of response - I've been too busy.

Yes, by listening for ssh disconnect I can resolve the issue - not nice, but it works.

[2019-07-01 10:12] jeffrson opened #30 "Promises are not resolved/rejected when connection is lost during operation"
This may sound similar to https://github.com/sanketbajoria/ssh2-promise/issues/27, but it's not.

While the former hands off control to streams, there are more direct issues with commands like "rmdir" (just an example which happened to me...).

I have written an SFTP server with NodeJs/SSH2. I use SSH2Promises to, say, remove a directory. Yes, it was a bug that the server crashed when I was trying

[2019-07-10 11:59] jeffrson opened #31 "readData/writeData invalid"
Apparently there should be methods `readData` and `writeData`.

I don't know, whether has SSH2 renamed these or why these methods don't exist. In any case it seems they should be called `read` and `write`, respectively.

This bug is critical, because `readData`/`writeData` are unusable, as are `read`/`write`.

BTW, what are `readFileData` and `writeFileData`?

[2019-07-10 14:27] jeffrson commented on #31
AFAICT after some research, the difference between read & readData is caused by SSH2.sftp returning an SFTPWrapper, which just for the sake of backward compatibility uses `read` instead of `readData`. What a mess.

[2019-07-10 17:43] jeffrson commented on #31
Please check the PR and release a new version on npm!

BTW, the tests cannot be run, because it's missing a file:

[2019-07-12 14:14] jeffrson opened #34 "Handling of 'continue' event fails critically"
The handling of 'continue' in https://github.com/jeffrson/ssh2-promise/blob/master/src/sftp.ts#L21 doesn't do what it is supposed to.

"continue" is *not* emitted by ssh (`this.ssh`), but by sftp() subsystem (which is an SFTPWrapper here). Actually it is the `sftp` from https://github.com/sanketbajoria/ssh2-promise/blob/master/src/sftp.ts#L39

Also, the event is called indeed just 'continue', not

[2019-07-25 00:39] LeonAlvarez opened #36 "String identity"
Is there any way to use a string as identity instead of using path of the private key.

[2019-07-26 01:38] mwgamble opened #37 "Remove console.log statements from SSHConnection.spawn()"
It would be really helpful if the `console.log()` statements in `SSHConnection.spawn()` could be removed. I'm trying to use this library in a CLI application, and every time a command finishes executing I get two "Closed stream" messages whether I like it or not.

[2019-07-29 13:38] vella-nicholas opened #38 "Question: How to add "keyboard-interactive" event"
I wish to set an ssh connection and setting `tryKeyboard: true`. The problem is I am adding the listener correctly because it does not seem to work (this works correctly in the ssh2 library). Can you assist please? This is my setup:

[code]

[2019-07-29 18:58] sanketbajoria commented on #36
@LeonAlvarez
pass configuration as below under privateKey
`
var sshconfig2 = {
  host: '192.168.1.3',
  username: 'ubuntu',
  privateKey: '<privateKey>'
}
`

[2019-07-30 05:26] sanketbajoria commented on #38
@vella-nicholas

You don't have to add listener for keyboard-interactive. This library internally handles it. For making connection with tryKeyboard just do as below

[code]

[2019-07-30 05:27] sanketbajoria commented on #37
@mwgamble

Yes, sure, thanks for pointing it out.

[2019-07-30 06:11] vella-nicholas commented on #38
Thank you for your answer. I wish to connect programatically, even when prompted for a password.

[2019-07-30 08:33] #38 closed

[2019-07-30 08:38] sanketbajoria commented on #38
@vella-nicholas
Did it work for you? I haven't exposed keyboard-interactive event from this library. If you think, of any use case, where you would require this event, then pls let me know.

[2019-07-30 21:29] LeonAlvarez commented on #36
ty

[2019-07-30 21:29] #36 closed

[2019-07-31 07:04] vella-nicholas commented on #38
@sanketbajoria Unfortunately it did not work for me because I want to connect programmatically by supplying `password` in `connectionInfo` and using the `keyboard-interactive` event because the server allows only keyboard-interactive authentication.. I am getting these series of errors:

`DEBUG: Parser: IN_PACKETBEFORE (expecting 16)`

`MaxListenersExceededWarning: Possible EventEmitter memory lea

[2019-09-04 15:46] andydix commented on #26
I still can't get an ed25519 key to work. I get the following error...

{
  "errorType": "Error",
  "errorMessage": "Cannot parse privateKey: Unsupported OpenSSH private key type: ssh-ed25519",
  "trace": [
    "Error: Cannot parse privateKey: Unsupported OpenSSH private key type: ssh-ed25519",
    "    at Client.connect (/opt/nodejs/node_modules/ssh2/lib/client.js:243:13)",
    "    at __$connect

[2019-11-11 18:50] sanketbajoria commented on #31
@jeffrson

Sorry for late reply, got stuck with other work

Yes, test cannot be run right now,
I am working on 'test' branch, which contain docker image, against which we could run our test cases

Currently, i am trying to integrate travis ci fully. Once, done, i will merge it with master.

Apart from this i didn't understand the 'read' and 'write' requirement.
If you open below link
https://githu

[2019-11-14 07:56] sanketbajoria commented on #37
Done

[2019-11-14 07:56] #37 closed

[2019-11-14 07:58] sanketbajoria commented on #29
@jlyonsmith
Integrated Travis ci, so if you raise a pull request, it should run the test cases automatically.
For local testing, updated the Readme section.

[2019-11-14 07:58] #29 closed

[2019-11-16 17:37] sherif2011 opened #42 "Issue downloading large files"
Hello,

I am loading some US States data, and it's working fine with all 50 states except the state of California. Size of the compressed file is ~3GB. It keeps downloading, but suddenly stops after around 1GB. Any clue? I tried different chunk sizes and different concurrency counts but in vain.

Below is a snippet of my code.

var Client = require("ssh2-promise");

const downloadOptions = {     /

[2019-11-17 05:32] sanketbajoria commented on #42
@sherif2011

Can you please attach the detailed logging.
You can generate detailed logging, by passing the debug function in ssh2 config option.
For example:
l2connection as
{
"host": "sftp.xxxxx.com",
"port": "22",
"username": "my-user",
"password": "my-password",
"identity": "identityFilePath",
"debug": function(str) {console.log(str)}
}

[2019-11-17 06:05] sherif2011 commented on #42
Interestingly, adding that debug line made the file complete downloading successfully (finishing 3.2G instead of just 1GB). I was hoping if it gets stuck so I would send you the debug data for the last chuck download attempt.
Could, adding the debug, have delayed a little bit the process, (like allowing a buffer to free...)? Should I try adding a short delay between chuck downloads?

[2019-11-17 12:20] sherif2011 commented on #42
hmm.... disregard my previous message. It failed again uploading another big file. I am prepping debug info and will send it over shortly. thanks!

[2019-11-17 20:50] sherif2011 commented on #42
So basically adding that debug part made it load all big files successfully. Does this tell anything? I have my application running on a docker container in a detached mode. Should I just leave debugger on, or do you recommend a neater way? Thanks!

[2019-11-19 02:38] cinderblock opened #43 "Why are dist files not .gitignored"
Why are `dist` files not `.gitignore`d?

[2019-11-19 05:23] sanketbajoria commented on #42
@sherif2011

it's weird, by adding debug, big files downloaded successfully. If you face any error in future, can you please attach the debug log. I wanted to check, if maybe ssh connection is getting break, during file transfer.

[2019-11-19 05:38] sanketbajoria commented on #43
@cinderblock
Actually i am publishing npm package through dist folder.

[2019-11-19 06:31] sanketbajoria commented on #34
@jeffrson

Actually ssh2-promise wrap around continue event and send ssh:continue event. It is already being handled properly. Please let me know, what issue you are facing currently

[2019-11-19 22:57] cinderblock commented on #43
Yes, you should publish the dist folder on npm (and arguably *not* the src folder).

That doesn't explain why the `dist` folder is checked into the git repository. The general consensus is that generated files should not be in repositories.

[2019-11-20 05:36] sanketbajoria commented on #43
@cinderblock
Yes, i should publish npm package from dist folder. It will require to update the package.json.
Will do in next release

[2019-11-20 19:23] cinderblock opened #44 "Hang after sftp.fastPut"
~80% of the time I call `stfp.fastPut(...)` since upgrading to Node 12, the promise never resolves. I've tried adding debugging/`step` function (which does not fire when it hangs) but haven not figured out why it's hanging. I can leave it "hung" for hours to no avail. Yet 20% of the time it "just works". It seems like it might hang more on a very fast/low latency connection but I haven't been able

[2019-11-20 21:54] cinderblock commented on #43
It **should** just take two things:
1. Add a `prepare` script that calls `tsc` (or `npm run build`)
2. Add an `.npmignore` file **or** add a `files` field to `package.json`

For more details about why these steps are needed/helpful, I'll post you to [my SO post](https://stackoverflow.com/questions/48287776/automatically-build-npm-module-on-install-from-github/57503862#57503862):

[2019-11-20 23:13] cinderblock commented on #44
Testing this more, I can't even seen to use `sftp.writeFile`. The same "hanging" happens.

I can confirm I reading the local file with no trouble.

I can also manually write to the files on the remote system with the same permissions that I'm using over the ssh connection.

When the transfer "hangs", the files on the remote are left in one of a couple states, seemingly randomly:
1. Target file is

[2019-11-21 00:13] cinderblock commented on #44
Just tried running over a connection with some latency and it works 100% of the time. Sounds like there is a race condition that is happening. Maybe this is related to #34?

[2019-11-23 20:56] tjdavenport commented on #44
I ran into something possibly similar. For me, fastPut was sporadically never resolving or rejecting and tended to hang on larger files more often. After some debugging I noticed the step callback was being invoked hundreds if not thousands of times per second. By increasing the chunkSize from the default 3200 to 1240000 I was able to alleviate the step calls to something more sane and as a result

[2019-11-25 06:58] cinderblock commented on #44
@tjdavenport Hmmm, thanks for in info. Interestingly, my problem is rearing its head with just a single small file (less than one full default chunk).

Yeah, I've considered looking at using ssh2 directly, maybe with manually wrapping each used method with promisify. But seems like too much trouble!

[2020-01-09 14:04] waterfallm opened #45 "Connection Limit ??"
I'm running ssh.exec in a loop firing 35 commands at the same server, i'm assuming ssh2-promise either reuses or disconnects before each ssh.exec call.

Is there some limit in ssh2-promise or the dependencies that limits to either 5 or 10 connections?

[2020-01-11 03:56] goflatworld opened #46 "ssh.exe does not resolve on Ubuntu 18.04 nodejs v8.10.0"
Below code works. It returns the username. But it does not close the SSH session. I have to manually  stop it. I tried other Linux command. None of them resolve...

      `var SSH = require('ssh2-promise');

        var sshconfig = {
        host: 'x.x.x.x'
        username: 'yyyyy',
        privateKey: '-----BEGIN RSA PRIVATE KEY-----'};``
        var ssh= new SSH(sshconfig);
        (async funct

[2020-02-05 12:56] sanketbajoria commented on #46
Can you please add
```await ssh.close()```

It will close all connection

[2020-02-05 12:58] sanketbajoria commented on #45
@waterfallm
Currently there is no limit. We have to handle it manually.

[2020-02-05 13:56] waterfallm commented on #45
I found the limit my servers had limit specified in the ufw config.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sanket Bajoria <notifications@github.com>
Sent: Wednesday, February 5, 2020 12:58:50 PM
To: sanketbajoria/ssh2-promise <ssh2-promise@noreply.github.com>
Cc: waterfallm <matthew@waterfall-family.co.uk>; Mention <mention@noreply.github.com>
Subje

[2020-02-05 16:32] waterfallm commented on #45
Yes the ufw config'd FW was limiting the connection attempts to 5 in 30 secs. Decided to work within those constraints and improve application logic.

[2020-02-05 16:32] #45 closed

[2020-02-21 12:41] dhbahr commented on #44
@cinderblock @tjdavenport I seem to be experiencing the same issue after upgrading from Node 8.10 to 10.x in a AWS lambda function (putFile just doesn't respond at all).
Did you guys figure out a way to overcome this?

[2020-02-21 21:24] cinderblock commented on #44
@dhbahr Have you tried the `compress` option? I think it's a race condition and adding a little bit of extra work on one reliably slows it down just enough.

[2020-02-26 14:12] dhbahr commented on #44
@cinderblock thanks for the suggestion. I did indeed try setting the `compress` option to `true`, still the handhsake times out. I also passed the regular `console.log` as `debug` and got this:
[code]

and

[code]

I am no expert in terms of SSH or SFTP, but I find it weird that it times out on the disconnect (again, it could very well be THE place to timeout). It is also very strange that the 8.1

[2020-04-02 15:29] sherifmankarious commented on #42
I am still facing the same issue. No problem downloading most US States. But when downloading CA, it stops data after transferring around 1GB of data. Adding detailed logging  "debug": function(str) {console.log(str)} returns enormous amount of data, do you suggest adding any kind of filter?

[2020-05-03 18:06] sanketbajoria commented on #43
Done

[2020-05-03 18:06] #43 closed

[2020-05-03 18:07] #46 closed

[2020-05-22 18:57] ReevesL opened #47 "readyTimeout not honored on connection attempt"
Hi all,

I was attempting to shorten the time to failure for unresponsive machines but found the readyTImeout doesn't behave as expected. With SSH2 if I set readyTimeout to 2000 and attempt to connect to a non-existent machine it fails in 2 seconds as expected. With ssh2-promise the failure takes over a minute.

Here is sample code to demonstrate what I'm seeing. There are code blocks for ssh2-pro

[2020-05-23 05:24] sanketbajoria commented on #47
@ReevesL
Can you please try with reconnect false, ssh2-promise have additional configuration for reconnect option
[code]

[2020-05-26 16:40] ReevesL commented on #47
That did the trick, thanks!

[2020-05-26 16:40] #47 closed

[2020-05-31 05:10] asheikm opened #48 "linux command execution on remote server"
I am trying to execute command yum install <package_name> on a remote linux server using ssh2-promise package, But I could not get the command response back for further processing and validation.

I have tried the following,

// Node:33528) UnhandledPromiseRejectionWarning: Unhandled promise rejection.
(async function(){
        try {
            const data = await this.ssh.exec("yum  repolist all

[2020-06-02 16:54] sanketbajoria commented on #48
@asheikm This should have worked. This is sample code you could try
[code]

[2020-06-02 18:45] asheikm commented on #48
@sanketbajoria  Thanks for the reply , I am on CentOS and i have to install a package  through ssh.
I tried the above code with command "yum install salt-minion" , code is not in js but TS.

[2020-06-06 20:54] asheikm commented on #48
@sanketbajoria , it worked, made a mistake of written an an (async function () {}); inside an another another async function, removed the additional asycnc call solved this issue

[2020-06-06 20:54] #48 closed

[2020-06-22 11:31] jeffrson commented on #31
Well, the problem is, your library isn't really using that SFTPStream.

Instead, in sshConnection (https://github.com/sanketbajoria/ssh2-promise/blob/master/src/sshConnection.ts#L85) it receives an instance of a class called SFTPWrapper (https://github.com/mscdex/ssh2/blob/master/lib/client.js#L888), which replaces readData/writeData by read/write, respectively (https://github.com/mscdex/ssh2/blob

[2020-06-27 05:50] abdrozak20 opened #49 "How to make 2 exec command in one connection"
I want to exec my command paralel

this is my code
![image](https://user-images.githubusercontent.com/33420123/85915771-8082e300-b874-11ea-9494-1a364d326897.png)

and i hope the result like this
![image](https://user-images.githubusercontent.com/33420123/85915776-92fd1c80-b874-11ea-9f70-0b19dc55e714.png)

[2020-07-22 02:47] KwangGan opened #51 "Timed out while waiting for handshake"
Hi, Thank for great library

I used this as SFTP Client to ReadStreamfile to S3 for year but now I got an error

"Timed out while waiting for handshake"

If I use SSH2 package to connect same server it works but with this SSH2-promise it stall and timeout

Could you please suggest :D

[2020-07-22 04:47] sanketbajoria commented on #51
@KwangGan
Can you please provide some code, how are you using it. (Config part and how you are streaming file.)

[2020-07-23 21:09] kpeters-cbsi commented on #51
@KwangGan Are you trying to connect to SalesForce by any chance?

[2020-07-23 21:45] kpeters-cbsi commented on #51
I'm experiencing a similar problem, but only when connecting to a particular host. I've attached the log from a recent run. Note that I'm using this inside of a Lambda function.

[log-events-viewer-result-2.zip](https://github.com/sanketbajoria/ssh2-promise/files/4968956/log-events-viewer-result-2.zip)

[2020-07-24 13:05] KwangGan commented on #51
Thank you for reply

My problem solved.

I increase readyTimeout  from 5 seconds to 20 seconds and It works as expect

[2020-07-24 13:05] #51 closed

[2020-07-24 14:20] kpeters-cbsi opened #52 "Timeout when connecting to Salesforce Marketing SFTP host"
I piggybacked onto #51 , but the solution to that problem didn't work for me. I'll reproduce the issue here.

I have a Lambda function that uses this module that has been timing out. Looking at the debug output, I see that it is connecting to the remote host but after `DEBUG: Parser: IN_PACKETDATAAFTER, packet: KEXDH_GEX_GROUP` it seems to wait 30 seconds, disconnect, and then 5 seconds later try

[2020-07-24 19:58] kpeters-cbsi commented on #52
Outside of a Lambda context, it seems to upload the file successfully but it doesn't look as though the stream is ever being closed. This happens while SFTPing to both my local machine and the Salesforce Marketing server. Logs attached. Test script below.

The one thing that sticks out to me is that Salesforce Marketing looks to be running OpenSSH 7.9.0, but the machines that I tested against were

[2020-08-26 23:33] grammati commented on #22
Workaround:

[code]

[2020-09-09 07:02] sthuber90 opened #53 "SCP support?"
Are there any plans or is it somehow already possible to use SCP with ssh2-promise?

[2020-09-09 17:53] #53 closed

[2020-09-28 21:15] jnandal opened #54 "fastGet TypeError: cb is not a function"
Node V 12 & 14
Mac OSX
ssh2-promise": "^0.1.7"

[code]

Error:
TypeError: cb is not a function
    at cbfinal (/Users/jnandal/z/jessica/sftp/node_modules/ssh2-streams/lib/sftp.js:1050:11)
    at SFTPStream._transform (/Users/jnandal/z/jessica/sftp/node_modules/ssh2-streams/lib/sftp.js:395:17)
    at SFTPStream.Transform._read (_stream_transform.js:191:10)
    at SFTPStream._read (/Users/jnandal/z/

[2020-10-17 16:29] jearles commented on #52
I know this is an old issue, and I hope you figured this out by now... I had the same issue on our project and solved it by tweaking my sshconfig to include:

            algorithms: {
              kex: [
                'diffie-hellman-group16-sha512',
                'diffie-hellman-group-exchange-sha256',
                'diffie-hellman-group14-sha256',
                'diffie-hellman-group14-

[2020-10-19 14:03] kpeters-cbsi commented on #52
As I recall, I did something similar. :)

On Sat, Oct 17, 2020 at 11:29 AM John Earles <notifications@github.com>
wrote:

[2020-12-02 17:11] jbabuscio opened #56 "Event leak when cache is disabled"
I started receiving Node warnings that multiple listeners were being added to events and growing, specifically for [tunnel, ssh:continue, ssh:disconnect, and ssh].

After debugging, it appears that when caching is enabled, the listeners are repeatedly added because this isRegistered check always returns false since "this.deregister" is always an empty array since I'm calling "new SSH2Promise(confi

[2020-12-20 02:21] ionush opened #58 "using sudo"
There is not much guidance on using sudo with the ssh.exec() command.

I have tried
[code]

documentation isn't too clear about how to use, I either get an error or it hangs.

Please could you advise? Thanks

[2020-12-20 07:37] sanketbajoria commented on #58
@ionush

Does sudo command require password?

[2020-12-20 07:46] ionush commented on #58
I'm using this to perform mkdir and it still isn't working:

[code]

I have initialised SSH2Promise with host, username, password.

Other non-sudo commands such as ls work e.g. ```const res = await ssh.exec('ls /data');```

[2020-12-20 07:58] ionush commented on #58
Fixed it. This is because I had special characters in my password, escape using ```"``` e.g. ```sudo "p4$$w0rd" | sudo -S mkdir /data/testdir```

[2020-12-20 07:58] #58 closed

[2020-12-20 08:00] sanketbajoria commented on #58
@ionush

Did you get any error.
[code]
Please notice, how i have wrapped mkdir in single quote and outer command in double quote
and also if you do have bash in your machine, then you can use bash instead of sh.

[2021-02-25 09:12] carlpett opened #59 "Silent failure if netcat is not installed"
If `nc` is not installed on the target, this part of `connect` fails, but does not appear to set any errors:
https://github.com/sanketbajoria/ssh2-promise/blob/930f5f20217c052a50e2e4ade74edcf38d12d4f7/src/index.ts#L176-L178

It also appears that in multihop usage, if the next hop is not available, it also silently fails without setting an error.

Are either of these solvable?

[2021-05-27 14:33] lake2 opened #61 "Does this package support proxy?"

[2021-06-22 06:54] dobby-tgc commented on #23
Any updates yet?

[2021-06-22 10:18] sanketbajoria commented on #61
@lake2  Can you please elaborate... what do you mean by proxy?

[2021-06-22 10:19] sanketbajoria commented on #59
@carlpett Yes, currently it require nc on linux machine. Will be porting for base scenario

[2021-06-22 10:24] sanketbajoria commented on #49
@abdrozak20  actually we want to execute anything in parallel... just use
[code]

[2021-06-22 10:24] #49 closed

[2021-07-02 00:56] noteon opened #62 "Do you have any plans to update the dependency package ssh2 to version 1.1?"
SSH2 has released version 1.1, do you have any plans to synchronize the package dependencies?

[2021-07-03 13:51] sanketbajoria commented on #54
unable to reproduce this issue. Please see the file sftp-spec.js for more example

[2021-07-03 13:51] #54 closed

[2021-07-03 13:54] sanketbajoria commented on #22
Now we support SFTP type
[code]

[2021-07-03 13:54] #22 closed

[2021-07-04 22:01] #31 closed

[2021-07-05 06:11] sanketbajoria commented on #62
@noteon Will release ssh2-promise based upon ssh2 1.1 by today

[2021-07-05 06:12] sanketbajoria commented on #59
Fixed it.. @carlpett  now you can get proper error. Added another option, to choose hopping tool between nc, socat and native.

[2021-07-05 06:13] #59 closed

[2021-07-05 07:02] sanketbajoria commented on #56
@jbabuscio
Actually this is expected behavior, if you are creating new SSH2Promise(config) everytime. Then listeners will be attached everytime.
To remove listeners, once you are done with SSH2Promise Object just close it, it will deregister all listener.

[2021-07-05 07:21] sanketbajoria commented on #56
@jbabuscio
Please refer to this spec, if you wanted to understand more.

[code]

[2021-07-06 11:48] sanketbajoria commented on #62
@noteon Upgraded ssh2-promise

[2021-07-07 00:03] noteon commented on #62
Thanks, It works well.

[2021-07-07 00:03] #62 closed

[2021-07-07 10:04] sanketbajoria commented on #34
@jeffrson We have upgraded to ssh2 1.1.0 version, it has removed continue event. So now, we should not face this issue.

[2021-07-07 10:05] sanketbajoria commented on #44
@cinderblock @tjdavenport @dhbahr
We have upgraded to ssh2 1.1.0 version, Most of the issue, should be resolved.

[2021-07-09 12:33] nazarvovk opened #63 "Error on `npm install` after upgrading to v1.0.0"
Error thrown on `npm i`:
[code]

- Windows 10
- Node v14.17.3 (also tried on a bunch of other Node versions)

The error dissapears if I rollback to v0.2.0

[2021-07-09 13:08] sanketbajoria commented on #63
Hey @nazarvovk
Since, it is wrapper over ssh2.  ssh2 1.1.0 version require below dependency.
![image](https://user-images.githubusercontent.com/2969587/125082343-be9c1f00-e0e4-11eb-883b-41386c56b1a7.png)

https://github.com/mscdex/cpu-features

[2021-07-11 12:07] sanketbajoria commented on #63
@nazarvovk
Did it solve your problem. Are you able to install cpu-features(which requires CMake)

[2021-07-12 07:33] nazarvovk commented on #63
Installing CMake on my machine and `$ npm i cpu-features` into the project worked
Thank you!

[2021-07-12 07:33] #63 closed

[2021-07-30 06:54] sanketbajoria commented on #61
Making as stale issue

[2021-07-30 06:54] #61 closed

[2021-08-20 13:59] jeremyfix opened #64 "X11 forwarding may fail if X server is listening on a Unix Socket"
Hello,

for `x11`, it might be that the X server is listening on a Unix socket and not a TCP port and host (see [the ssh2/issue#1053](https://github.com/mscdex/ssh2/issues/1053) ).

For that case to work, we need to connect to the X server with the socket, for example :
[code]

rather than
[code]

which is actually the code used in  [src/sshConnection.ts#L265](https://github.com/sanketbajoria/ssh2

[2021-08-21 13:19] damiankoper opened #65 "Spawn rejects on stderr"
I wonder why change in commit https://github.com/sanketbajoria/ssh2-promise/commit/2fc2ce2715d393ad6d891434d1d9b86e5cac9091 was made to `src/sshConnection.ts` file.
My command writes to `stderr` within the first 500ms, so the whole spawned process fails, which should not happen.

I think that lines:
[code]
should be reversed and eventual hopping error (as the commit name suggests) should be handle

[2021-08-23 11:00] salvadorplj commented on #38
@sanketbajoria it would be very useful to expose "keyboard-interactive". AWS ec2 instances require a "yes" input when connecting in addition to the private key.

        sshConn.addListener('keyboard-interactive', (name, instructions, instructionsLang, prompts, finish) => {
          console.log('Connection :: keyboard-interactive');
          finish(['yes']);
        });

I would really appreciat

[2021-08-24 13:39] sanketbajoria commented on #65
@damiankoper hmm.. actually it was done so that, when we do connection hopping, we can propagate error properly.
![image](https://user-images.githubusercontent.com/2969587/130626835-9c0ab658-83e0-4573-82be-fedefa50a608.png)

But, it make sense, if we handle connection hopping logic separately, and i should resolve stream as soon as possible, so now, it will caller responsibility to do error handli

[2021-08-24 13:57] sanketbajoria commented on #64
@jeremyfix

To support this, I think, we have to support both, we have to change this sshConnection.ts#L254 to sshConnection.ts#L265. So that, if unix socket has been passed, then, create client as below
[code]

[2021-08-24 18:51] sanketbajoria commented on #65
@damiankoper please refer to this commit https://github.com/sanketbajoria/ssh2-promise/commit/b8aebe5cf5abbe4101bee674214041aef46eac9c

Can you please confirm, if it fixes your problem.

[2021-08-24 18:52] sanketbajoria commented on #64
@jeremyfix please refer to this commit b8aebe5

Can you please confirm, if it fixes your problem.

[2021-08-24 18:53] sanketbajoria commented on #56
Marking this as stale issue

[2021-08-24 18:53] #56 closed

[2021-08-28 19:54] sanketbajoria commented on #65
@damiankoper
ssh2-promise@1.0.1 has been published.

[2021-08-28 19:55] sanketbajoria commented on #64
@jeremyfix
ssh2-promise@1.0.1 has been published.
I have introduced new attribute in sshConfig named x11 to solve your problem
![image](https://user-images.githubusercontent.com/2969587/131229559-d76268f4-af72-4e0e-beda-a8ad31a8bf90.png)

[2021-08-29 07:04] jeremyfix commented on #64
Thank you for your help ;

Sorry for not being able to test, I finally moved to ssh2 directly in my [project](https://github.com/jeremyfix/dcejs) rather than using ssh2 promise. I then have to write my own promise but I had the feeling I would better learn to code directly with ssh2 rather than with an abstraction.

I close your issue. I think your commit did allow now to handle the case I was men

[2021-08-29 07:04] #64 closed

[2021-08-29 14:24] #65 closed

[2021-09-26 08:20] #34 closed

[2021-10-12 08:21] blogwy opened #67 "closeTunnel has high latency"
After I run closeTunnel, the tunnel website can still be accessed. Then it took 2 minutes for the tunnel to be completely closed

const SSH2Promise = require('ssh2-promise')

const sshconfig = {
  host: 'xxxxx',
  username: 'xxxx',
  password: 'xxxx',
  port: 'xxxx'
}

const tunnelConfig = {
  name: 'hahaha',
  remoteAddr: 'localhost',
  remotePort: '80'
}

var ssh = new SSH2Promise(sshconfig);

s

[2021-10-22 02:07] kulame opened #68 "UnhandledPromiseRejectionWarning: TypeError: ssh2_promise_1.default is not a constructor"
mycode
[code]

it's report a error.
[code]

[2021-11-05 17:01] rehanvdm opened #69 "How to get the retry count?"
My application requires knowledge of when a SSH Connection + Tunnels are retrying.

The close and disconnect events do not fire and I have spent a lot of time trying to figure out how to get either an event or a flag by inspecting private variables on the class. But it shows connected every time. My procedure:

1. Connected to the internet
2. Connect SSH + Tunnels, test and it works.
3. Disconnect

[2021-11-09 17:41] rehanvdm commented on #69
Related to #23

The reason I couldn't find a way was because of how the event emitter does not reregister events when it creates the new connection using the retry logic. I couldn't find/see a way around this, the sshConnection.ts class to callback to the index.ts to close the connection, remove the event listeners and then reattach them for when it creates the new connection in the retry logic he

[2022-03-28 16:26] tkambler opened #70 "Connection hopping: netcat processes are never killed"
When I run the following example, I see that instances of `nc` (netcat) continue to run on the bastion server after the connection has been closed. If I run this example _multiple_ times, then _many_ instances of `nc` continue to run.

While this issue should be fixed, I do also see that I can avoid it entirely if I specify `hoppingTool: 'native'` as a config option. I was hoping you would explain

[2022-05-01 18:08] jeffrson commented on #30
Looks like closing sftp connection in "ssh" disconnected event releases the promise by rejecting.

[2022-05-02 09:31] jeffrson commented on #30
Uh - no. Must 've been wrong test case.

Promise is *not* released unfortunately.

[2022-05-03 13:56] jeffrson opened #73 "Uncatchable rejected promise"
When the SFTP server disconnects during ("extended") connection handshake (requesting the sftp subsystem) the client application stops due to unhandled promise rejection. The promise in question is rejected in https://github.com/sanketbajoria/ssh2-promise/blob/master/src/sshConnection.ts#L80

I created a pull request that should fix the problem: https://github.com/sanketbajoria/ssh2-promise/pull/7

[2022-05-04 14:30] btxtiger commented on #38
It's not working for me, it does not show any password prompt. Any ideas?

[code]

[code]

[2022-05-04 14:57] btxtiger opened #74 "tryKeyboard not working"
It's not working for me, it does not show any password prompt. Seems tryKeyboard is ignored at all. Any ideas?

[code]

[code]

[2022-05-05 14:08] btxtiger commented on #74
Shorter test code, also not prompting for password. Passing the password with the config works fine.

[code]

[2022-05-05 21:03] btxtiger commented on #74
The problem was issued by the (also insecure) ssh server config.
I updated the config to the following lines in `/etc/ssh/sshd_config` and the code started working.

[code]

[2022-05-05 21:03] #74 closed

[2022-05-10 15:32] ScottRandallWay opened #75 "Cannot create writeStream"
We had existing code that used ssh2 to write a string to a file and it worked for several years.  We upgraded to ssh2-promise now it seems we are not getting a valid writestream.  We just keep getting writestream.write is not a function.  Are we doing something wrong?

[code]

[2022-05-10 17:46] ScottRandallWay commented on #75
Additionally we figured out this code seems to work fine on windows (our dev workstations), but is failing on Centos 7 which is our dev and test servers.

[2022-05-11 23:39] tjbrockmeyer opened #76 "`exec` - Rejected promises because of `stderr` output only provide the first chunk of data encountered"
With a command such as the following:
[code]
I would expect to see the full error message - something along the lines of:
[code]
However, the error that is seen is simply this:
[code]
And on top of that, the data type of the error is `Buffer` instead of `string` as one would expect.

The issue arises because of the way `stderr` output is handled. Any time that `stdout` output is received, it is pu

[2022-05-19 20:10] kyledecot opened #77 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
I'm using `ssh2-promise` to download a number of large files from an SFTP server. About half way through my process I see the following in my logs:

[code]

[2022-05-21 18:51] CRAKZOR commented on #75
use node version <= 17.8.0

[2022-05-25 14:36] #77 closed

[2022-05-31 08:53] rootowsky commented on #68
I was ablet o fix this by replacing an import with require: `import SSH2Promise = require('ssh2-promise');`

[2022-06-03 21:34] flyfishMT opened #78 "No response from server"
I consistently get the error

The first few times I call a function that uses your library.  Eventually it works.  I know that [this is an error from ssh2](https://github.com/mscdex/ssh2/blob/master/lib/client.js#L764), but thought that it might be cause be the usage of ssh2 in ssh2-promise, or how I'm using ssh2-promise?

Psuedo-code:

[code]
I appreciate any help pointing me in the right directi

[2022-06-04 12:32] sanketbajoria commented on #78
@flyfishMT can you please enable debug log, by passing debug function to SSH configuration. Most probably ssh server is getting disconnected.

[2022-06-04 12:34] sanketbajoria commented on #76
@tjbrockmeyer
awesome.. please feel free to raise a PR.

[2022-06-06 00:18] #76 closed

[2022-06-06 02:41] #44 closed

[2022-06-06 02:43] sanketbajoria commented on #68
@kulame @rootowsky this section tell how we can use it

https://github.com/sanketbajoria/ssh2-promise#require

[2022-06-06 02:43] #68 closed

[2022-06-06 02:55] sanketbajoria commented on #75
@ScottRandallWay
Actually you are doing little bit wrong. We can access WriteStream in below manner, if using promise (thenable)
[code]
I will update readme around it.

[2022-06-06 02:55] #75 closed

[2022-06-06 02:59] sanketbajoria commented on #73
@jeffrson
This pull request has been merged. Can you please verify, if things are working good

[2022-06-07 15:11] flyfishMT commented on #78
@sanketbajoria thanks I will work on this and report back. It's a little difficult as we are only encountering this error in production

[2022-06-08 20:39] flyfishMT commented on #78
@sanketbajoria I was able to reproduce but don't want to post everything up, any advice on what I'm looking for? The first error I see is on connect:
[code]

[2022-06-09 03:14] sanketbajoria commented on #78
@flyfishMT
Can you please explain.. how are you using this library
Do we open single ssh connection. And, then, we use this same ssh connection to exec command. (Is there a lot of gap, in between to exec command.)
Or do we open new connection every time, to exec the command.

[2022-06-09 21:47] sanketbajoria commented on #78
@flyfishMT
Seems to me ssh connection is dropping. Can you set KeepAliveInterval, so that persistent connection can be established.
[code]
Or for every request. you can create new ssh connection... exec... and close... But, if the number of request are high... go with above method
In the meanwhile i will try to debug if connection get dropped, then it should get established automatically.

[2022-06-16 05:01] asarkisian opened #80 "Disable Error Handling"
I am running mocha/webdriverio and running some tests on  a remote ssh server. I can connect successfully and execute commands successfully; however, if I try to execute a command that returns a failure such as "rm data.dat" (assuming it doesn't exist), it will literally fail the test case and throw the following error:

   Error: the buffer [
  97
  98
  115
  100
  102
  115
  58
  32
  67
  111

[2022-06-17 11:56] sebasptsch commented on #73
@sanketbajoria Does a new release need to be created?

[2022-06-19 01:29] sanketbajoria commented on #73
@sebasptsch
Published a new release https://www.npmjs.com/package/ssh2-promise/v/1.0.3

[2022-06-19 01:30] sanketbajoria commented on #80
@asarkisian
Can you please try latest release... we are doing error handling in string instead of buffer...
https://www.npmjs.com/package/ssh2-promise/v/1.0.3

[2022-06-20 15:43] asarkisian commented on #80
Hi Sanket,

Thank you. Also, is there any way we can run an exec() command without
returning a promise? In other words, having an async as well as a sync
version of this so that sometimes we don't want to wait until the command
finishes.

Thanks!

On Sat, Jun 18, 2022 at 6:30 PM Sanket Bajoria ***@***.***>
wrote:

[2022-06-22 20:32] asarkisian commented on #80
That worked! Final question to you, when I try to connect to a Solaris 10
machine, everything works perfectly.. I can login with no issues. When I
connect to Solaris 11 however, it throws an authentication error. I know
that Solaris 11 has beefier security when it comes to ciphers/kex. When
attempting to login into Sol11, I get the error "Error: All configured
authentication methods failed".

Have

[2022-06-24 01:10] sanketbajoria commented on #80
@asarkisian
we do hve option to send cipher in configuration. Please check the algorithms section in readme

[2022-07-02 03:48] sanketbajoria commented on #80
@asarkisian feel free to close this issue.. if it is resolved

[2022-07-02 05:16] #80 closed

[2022-07-02 05:16] asarkisian commented on #80
Thank you!

On Fri, Jul 1, 2022 at 8:49 PM Sanket Bajoria ***@***.***>
wrote:

[2022-07-22 02:41] mrgsathyaraj opened #81 "can you provide some example for connect the ssh with same session and pass multiple commands using ssh2-promise"
Hi @sanketbajoria ,

I am working in a project that requires multiple commands to be passed in the ssh server using same ssh shell session . am not able to find how the multiple commands working with shell .

It will be helpful if you could add some example or concept how it can be done then it will be helpful .

[2022-08-12 14:24] sanketbajoria commented on #81
@mrgsathyaraj sorry didn't able to respond earlier.. do you still need help?

[2022-08-29 19:31] flyfishMT commented on #78
Hi @sanketbajoria any luck debugging? I thought I had success with with keepaliveCountMax but it cropped up again. However, I don't remember keepaliveInterval being suggested so I haven't tried that. I also tried to just connect and close every time but am now seeing "Error: No Connection" for a time, and then it will work intermittently.  For option 2 of re-creating the connection every time, do

[2022-10-11 08:43] asarkisian commented on #80
Hi Sanket,

To add ciphers, kex and hmac's, does this look correct? When I add these
and try to connect to a SOL11 machine, I get an error: *"Error: All
configured authentication methods failed"*

There might be something I am missing where you can point out. Thanks for
all your help!

const sshConfig = {
host: host,
port: port,
username: username,
password: password,
algorithm: {
kex: ['diffie-he

[2022-11-02 01:46] rahbari opened #82 "Authentication Fail on RHEL 9"
can't connect to RHEL 9, get:
`userauth_pubkey: key type ssh-rsa not in PubkeyAcceptedAlgorithms [preauth]`
same pub key works on system ssh.